body {
    background-color: rgb(78, 71, 182);
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container_principal {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: white;
}

#ad_tarefas {
    background: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.adTarefa button {
    background: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

label {
    margin-top: 10px;
    color: white;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tabela {
    margin-top: 20px;
    
}

.tarefas {
    width: 100%;
    border-collapse: collapse;
    background: rgba(128, 128, 128, 0.229);
    margin: 0 auto;
    text-align: center;
}

.tarefas th {
    background: purple;
    color: white;
    padding: 10px;
}

.tarefas td {
    padding: 10px;
    color: white;
}

.urgente td {
    color: rgb(148, 0, 0);
}

.edit-btn {
    background: blue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin: 1px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin: 1px;
}
